* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Jua', sans-serif;
  font-size: 19px;
}

.btnBuy { padding: 4px; border-radius: 4px; border: 2px solid #323232; cursor: pointer; width: 140px; height: 50px; line-height: 50px; }
.btnBuy:hover { padding: 4px; border-radius: 4px; border: 2px solid red; cursor: pointer; width: 140px; height: 50px; line-height: 50px; }
.mat { margin: 0 auto; }
.mgtb8 { margin-top: 8px; margin-bottom: 8px; }
.pdtb8 { padding-top: 8px; padding-bottom: 8px; }
.alcenter { text-align: center; }
.fs90 { font-size: 90%; }
.fs80 { font-size: 80%; }
.botline { border-bottom: 1px solid #323232; }
.topline { border-top: 1px solid #323232; }
.reverse-color { background-color: #323232; color: white; }